.cardIcon{
    height: 86px;
    margin-bottom: 60px;
}

.card-title{
    font-size: 32px;
    margin-bottom: 12px;
}
.card-text{
    font-size: 22px;
}
.card{
    color: white;
    padding: 40px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-width: 992px) {
    .card{
        color: white;
        padding: 40px;
    }
}
@media (min-width: 1200px) {
    .card{
        color: white;
        padding: 150px 40px;
    }
}

.card .btn{
    margin-top: 60px;
}

.card1{
    background-image: url(../images/adventure-card1.png);
}
.card2{
    background-image: url(../images/adventure-card2.png);
}
.card3{
    background-image: url(../images/adventure-card3.png);
}
.adventure h4{
    color: #FFA300;
}
.adventure h2{
    margin-bottom: 150px;
}